<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Comatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Admin</title>
</head>
<body>
    <section class="top">
        <div class="container">
            <div class="row justify-content">
                <div class="logo"><a href="/"><img src="/images/logo.png" alt="Logo"></a></div>
                <div class="menu-bar">
                    <span></span>
                </div>
                <div class="menu-items">
                    <ul>
                        <li class="menu-item">
                            <i class='bx bxs-home'></i>
                            <a href="/">Home</a>
                        </li>
                        <li class="menu-item">
                            <i class='bx bxs-user-account'></i>
                            <a href="/adminUsers">Users</a>
                        </li>
                        <li class="menu-item">
                            <i class='bx bx-cart'></i>
                            <a href="/adminPartners">Partners</a>
                        </li>
                        <li class="menu-item">
                            <i class='bx bx-star'></i>
                            <a href="/adminStars">Stars</a>
                        </li>
                        <li class="menu-item">
                            <i class='bx bx-log-out' ></i>
                            <a href="/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="big-image">
        <div class="wrapper2">
            <div class="wrapper2Content">
                <form action="/postCreatePartner" method="post">
                    <div class="close">
                        <i class='bx bx-x-circle'></i>
                    </div>
                    <h1>New</h1>
                    <div class="input-box">
                        <input type="text" name="nameCreate" placeholder="Name" required>
                    </div>
                    <div class="input-box">
                        <input type="number" name="phoneCreate" placeholder="Phone" required>
                    </div>
                    <div class="input-box">
                        <input type="text" name="emailCreate" placeholder="Email" required>
                    </div>
                    <div class="input-box">
                        <input type="text" name="addressCreate" placeholder="Address" required>
                    </div>
                    <div class="input-box">
                        <input type="text" name="roleCreate" placeholder="Role" required>
                    </div>
                    <button type="submit" class="btn">Create</button>
                </form>
            </div>
        </div>
        <div class="big-image-content">
            <div class="table">
                <section class="table__header">
                    <button class="btn-create"></button>
                    <h1>Welcome: <%= admin.name%> - <%= admin.id%></h1>
                    <h1>Partners List</h1>
                    <div class="input-group">
                        <input type="search" placeholder="Search Data...">
                        <img src="images/search.png" alt="">
                    </div>
                </section>
                <section class="table__body">
                    <table>
                        <thead>
                            <tr>
                                <th> Id <span class="icon-arrow">&UpArrow;</span></th>
                                <th> Name <span class="icon-arrow">&UpArrow;</span></th>
                                <th> Phone <span class="icon-arrow">&UpArrow;</span></th>
                                <th> Email <span class="icon-arrow">&UpArrow;</span></th>
                                <th> Address <span class="icon-arrow">&UpArrow;</span></th>
                                <th> Role <span class="icon-arrow">&UpArrow;</span></th>
                                <th> Actions </th>
                            </tr>
                        </thead>
                        <tbody>
                        <% listPartner.forEach(function(partner) { %>
                            <tr>
                                <td><%= partner.id %></td>
                                <td><%= partner.name %></td>
                                <td><%= partner.phone %></td>
                                <td><%= partner.email %></td>
                                <td><%= partner.address %></td>
                                <td><%= partner.role %></td>
                                <td class="actions">
                                    <button class="btn-edit" data-id="<%= partner.id %>"></button>
                                    <form action="/postDeletePartner/<%= partner.id %>" method="post">
                                        <button class="btn-delete"></button>
                                    </form>
                                </td>
                            </tr>
                            <div class="wrapper3" id="edit<%= partner.id %>">
                                <div class="wrapper3Content">
                                    <form action="/postEditPartner" method="post" class="editForm">
                                        <div class="close" id="close<%= partner.id %>">
                                            <i class='bx bx-x-circle'></i>
                                        </div>
                                        <h1>Edit</h1>
                                        <div class="input-box d-none">
                                            <input type="text" name="idEdit" value="<%= partner.id %>" placeholder="Id" required>
                                        </div>
                                        <div class="input-box">
                                            <input type="text" name="nameEdit" value="<%= partner.name %>" placeholder="Name" required>
                                        </div>
                                        <div class="input-box">
                                            <input type="number" name="phoneEdit" value="<%= partner.phone %>" placeholder="Phone" required>
                                        </div>
                                        <div class="input-box">
                                            <input type="text" name="emailEdit" value="<%= partner.email %>" placeholder="Email" required>
                                        </div>
                                        <div class="input-box">
                                            <input type="text" name="addressEdit" value="<%= partner.address %>" placeholder="Address" required>
                                        </div>
                                        <div class="input-box">
                                            <input type="text" name="roleEdit" value="<%= partner.role %>" placeholder="Role" required>
                                        </div>
                                        <button type="submit" class="btn">Update</button>
                                    </form>
                                </div>
                            </div>
                        <% }); %>   
                        </tbody>
                    </table>
                </section>
            </div>
        </div>
    </section>
    <script src="/js/script.js"></script>
</body>
</html>