<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Comatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Admin</title>
</head>
<body>
    <section class="top">
        <div class="container">
            <div class="row justify-content">
                <div class="logo"><a href="/"><img src="/images/logo.png" alt="Logo"></a></div>
                <div class="menu-bar">
                    <span></span>
                </div>
                <div class="menu-items">
                    <ul>
                        <li class="menu-item">
                            <i class='bx bxs-home'></i>
                            <a href="/">Home</a>
                        </li>
                        <li class="menu-item">
                            <i class='bx bxs-user-account'></i>
                            <a href="/adminUsers">Users</a>
                        </li>
                        <li class="menu-item">
                            <i class='bx bx-cart'></i>
                            <a href="/adminCustomers">Customer</a>
                        </li>
                        <li class="menu-item">
                            <i class='bx bx-package'></i>
                            <a href="/adminSuppliers">Suppliers</a>
                        </li>
                        <li class="menu-item">
                            <i class='bx bx-log-out' ></i>
                            <a href="/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="big-image">
        <div class="big-image-content">
            <main class="table" id="customers_table">
                <section class="table__header">
                    <a href=""><button class="btn-create"></button></a>
                    <h1>Welcome: <%= admin.name%> - <%= admin.id%></h1>
                    <div class="input-group">
                        <input type="search" placeholder="Search Data...">
                        <img src="images/search.png" alt="">
                    </div>
                    <div class="export__file">
                        <label for="export-file" class="export__file-btn" title="Export File"></label>
                        <input type="checkbox" id="export-file">
                        <div class="export__file-options">
                            <label for="export-file" id="toPDF">PDF</label>
                        </div>
                    </div>
                </section>
                <section class="table__body">
                    <table>
                        <thead>
                            <tr>
                                <th> Id <span class="icon-arrow">&UpArrow;</span></th>
                                <th> Name <span class="icon-arrow">&UpArrow;</span></th>
                                <th> Phone <span class="icon-arrow">&UpArrow;</span></th>
                                <th> Email <span class="icon-arrow">&UpArrow;</span></th>
                                <th> Address <span class="icon-arrow">&UpArrow;</span></th>
                                <th> Oder Number <span class="icon-arrow">&UpArrow;</span></th>
                                <th> Role <span class="icon-arrow">&UpArrow;</span></th>
                                <th> User Name <span class="icon-arrow">&UpArrow;</span></th>
                                <th> Password <span class="icon-arrow">&UpArrow;</span></th>
                                <th> Actions </th>
                            </tr>
                        </thead>
                        <tbody>
                        <% listUser.forEach(function(user) { %>
                            <tr>
                                <td><%= user.id %></td>
                                <td><%= user.name %></td>
                                <td><%= user.phone %></td>
                                <td><%= user.email %></td>
                                <td><%= user.address %></td>
                                <td>0</td>
                                <td><%= user.role %></td>
                                <td><%= user.userName %></td>
                                <td><%= user.password %></td>
                                <td class="actions">
                                    <a href="/editUser/<%= user.id %>"><button class="btn-edit"></button></a>
                                    <form action="/deleteuser/<%= user.id %>" method="post">
                                        <button class="btn-delete"></button>
                                    </form>
                                </td>
                            </tr>
                            <% }); %>   
                        </tbody>
                    </table>
                </section>
            </main>
        </div>
    </section>
    <script src="/js/script.js"></script>
</body>
</html>